<h1>내용 입력 창 !</h1>

<form action="create">
  <input name = "input_name" type="text">
  <input name = "input_kor" type="text">
  <input name = "input_eng" type="text">
  <input type="submit">

  <p>목록</p>
  <input type="checkbox" name ="rapper1" value = "beenzino">빈지노<br>
  <input type="checkbox" name ="rapper1" value = "swings">스윙즈

  <div class="dropdown" name = "div">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"  name = "route2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            스포츠
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <input type="checkbox"  name="checkbox" value = "running">러닝</a>
            <input type="checkbox"  name="checkbox" value = "baseBall">야구</a>
            <input type="checkbox"  name="checkbox" value = "soccer">축구</a>
            <input type="checkbox"  name="checkbox" value = "skate">스케이팅</a>
            <input type="checkbox" name="checkbox" value = "swimming">수영</a>
          </div>
        </div>
</form>
